.default{
	background-color: black;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.none{
	background-color: white;
	color: black;
	width: 100px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.default2{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.default3{
	background-color: yellow;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.default4{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.default5{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.default6{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.default7{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.default8{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.default9{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaultq{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaultw{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaulte{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaultr{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaultt{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}
.defaulty{
	background-color: blue;
	color: white;
	width: 100px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}