.button-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1.5vmin;
}

.button{
	height: 5vmin;
	width: 15vmin;
	background: dimgray;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	font-size: 2vmin;
}