.top-half{
	height: 50vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}

.bottom-half{
	height: 50vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}

.card-container{
	display: flex;
	justify-content: space-between;
  	align-items: center;
  	height: 60%;
  	width: 40%;
  	min-width: 300px;
  	min-height: 100px;
  	background-color: purple;
}	

.card{
	height: 100%;
	width: 100%;
	background-color: white;
}

.name{
	background-color: black;
	font-family: "Courier New","Lucida Console",monospace;
	font-weight: 900;
	color: white;
	font-size: 100%;
	width:  155px;
	height: 20px;
	position: absolute;
	line-height: 20px;
}

.opponent-name{
	top: 0;
	right: 0;
}

.username{
	bottom: 0;
	left: 0;
}

.toggle-chat-box{
	position: absolute;
	left: 155px;
	bottom: 0px;
	height: 20px;
	width: 20px;
	background-color: orange;
}

.chat-container{
	position: absolute;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: calc(100vh - 20px);
}

.chat-input{
	position: absolute;
	width: 280px;
	height: 20px;
	bottom: 0;
	left: 0;
	background-color: white;
	font-family: "Courier New","Lucida Console",monospace;
	font-weight: 900;
	color: black;
	font-size: 100%;
	line-height: 20px;
	padding: 0;
	border: 0;
}

.send{
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 0;
	background-color: green;
}

.chatbox{
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	top: 0;
	overflow-y: auto;
	overflow-wrap: break-word;
}

.message{
	font-family: "Courier New","Lucida Console",monospace;
	font-weight: 900;
	color: white;
	font-size: 100%;
	line-height: 20px;
}

.exit{
	position: absolute;
	left: 175px;
	bottom: 0px;
	height: 20px;
	width: 20px;
	background-color: red;
}

.targeted{
    background-color: yellow;
}

.defeated{
  background-color: lightgray;
}

.turn-display{
	position: absolute;
	left: 195px;
	bottom: 0px;
	height: 20px;
	width: 20px;
	background-color: white;
}