<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/gacha.css">
	<title></title>
</head>
<body>

<div class="main-container">

	<div class="title">Choose a pool to pull from!</div>

	<div class="button-container">
		{%for pool_name in pool_names%}
		<a class="button" href="/gacha/{{pool_name}}">{{pool_name}}</a>
		{%endfor%}
	</div>
	
</div>

</body>
</html>