<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/inventory.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/cards.css">
</head>
<body>

<div class="main-container">
	<form class="inventory-form">
		<div class="selected-cards"></div>
		<button type="submit" class="save-selection">Save Selection</button>
	</form>
	<hr>
	<div class="non-selected-cards"></div>
</div>


<script type="text/javascript">
	let uid="{{uid}}";
	let allOwnedCards={{all_owned_cards|tojson}};
	let currentSelectedCards={{current_selected_cards|tojson}};
	let currentNonSelectedCards={{current_non_selected_cards|tojson}};
</script>
<script type="text/javascript" src="../static/cards.js"></script>
<script type="text/javascript" src="../static/inventory.js"></script>

</body>
</html>