<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<h1>login</h1>
<br>
<!-- login form -->
<form method="POST" action="/login">
	username:
	<br>
	<input type="text" name="username" placeholder="username">
	<br>
	password:
	<br>
	<input type="password" name="password" placeholder="password">
	<br>
	<input type="submit" name="log in">
</form>
<br>

<!-- displays missing value if @ least 1 box is empty -->
{%if missing_value%}
<h2>missing value</h2>
{%endif%}

<!-- displays wrong password if passowrd is wrong -->
{%if wrong_password%}
<h2>wrong password</h2>
{%endif%}

<!-- displays user doesnt exist of user does not exist -->
{%if nonexistent_user%}
<h2>user does not exist</h2>
{%endif%}

</body>
</html>