<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
	<title></title>
</head>
<body style="margin: 0;">

<div class="name opponent-name">{{opponent_username}}</div>
<div class="name username">{{username}}</div>
<div class="toggle-chat-box" onclick="toggleChatBox()"></div>
<div class="exit" onclick="exit()"></div>

<div class="chat-container">
	<div class="chatbox"></div>
	<input type="text" name="chat-input" class="chat-input" placeholder="enter message">
	<div class="send" onclick="send()"></div>
</div>

<div class="top-half">
    <div class="card-container">
        {% for card in opponent_cards %}
        <div class="card opponent-card" onclick="setTarget(this,{{loop.index0}})"> 
            {{card.name}}
            <div class="hp">
            	{{card.hp}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="bottom-half">
	<div class="card-container">
		{% for card in cards %}
        <div class="card player-card">
            {{card.name}}
            <div class="hp">
            	{{card.hp}}
            </div>
            <button onclick="useAbility('{{uid}}',{{loop.index0}},1,'{{opponent_uid}}')"></button>
            <button onclick="useAbility('{{uid}}',{{loop.index0}},2,'{{opponent_uid}}')"></button>
            <button onclick="useAbility('{{uid}}',{{loop.index0}},3,'{{opponent_uid}}')"></button>
        </div>
        {% endfor %}
	</div>
</div>

<script type="text/javascript">
	let uid="{{uid}}";
	let matchID="{{match_id}}";
    let nextActioningPlayerUid="{{next_actioning_player_uid}}";
</script>

<script type="text/javascript" src="../static/match.js"></script>

</body>
</html>